<ion-content fullscreen>
  <main class="settings-page">
    <header class="settings-header">
      <button type="button" class="back-btn" (click)="router.navigateByUrl('/app/profile')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <h1 class="settings-title">Settings</h1>
      <span class="header-spacer"></span>
    </header>

    <section class="settings-list">
      <button *ngFor="let option of options" type="button" class="settings-row" (click)="openOption(option.path)">
        <div class="row-icon" [class.row-icon--disabled]="!option.path">
          <ion-icon [name]="option.icon"></ion-icon>
        </div>
        <div class="row-copy">
          <span class="row-label">{{ option.name }}</span>
          <span class="row-sub" *ngIf="option.sub">{{ option.sub }}</span>
        </div>
        <ion-icon *ngIf="option.path" name="chevron-forward-outline" class="row-chevron"></ion-icon>
        <span *ngIf="!option.path" class="row-soon">Soon</span>
      </button>

      <button type="button" class="settings-row settings-row--logout" (click)="logout()">
        <div class="row-icon row-icon--logout">
          <ion-icon name="log-out-outline"></ion-icon>
        </div>
        <div class="row-copy">
          <span class="row-label row-label--logout">Log Out</span>
        </div>
      </button>
    </section>
  </main>
</ion-content>
